h1 emma 
h2 bonus

div(id="data" data-enfant="emma")

aside.col-3
	div#emma
		div.jauge
		div.verre
		div.light

aside.col-6
	for enfant, slug in emma.checklists.bonus
		div(class="checklist")
			div.row #{ slug } - #{ enfant }
				input(type="checkbox" class="js-switch" data-jauge="#{ enfant }")