doctype
html
  head
    link(rel="stylesheet" href="/main.css")
    script(src="bower_components/simpleStorage/simpleStorage.js")
    script(src="//cdnjs.cloudflare.com/ajax/libs/jquery/2.1.1/jquery.min.js")
  body
    != yield
  
  script(src="app.js")