div.homepage
	div.jauge-emma
		h1 Emma
		a(href="emma/")
			div#emma
				div.jauge
				div.verre
				div.light
				div.reflet1
				div.reflet2

	div.jauge-laura
		h1 Laura
		a(href="laura/")
			div#laura
				div.jauge
				div.verre
				div.light
				div.reflet1
				div.reflet2
