div.homepage
	div.col-3
		h2 Emma
		div#emma
			div.jauge
			div.verre
			div.light
		a(href="emma/") 
			span(class="icon-plus")
	div.col-6
		h2 Laura
		div#laura
			div.jauge
			div.verre
			div.light
		a(href="laura/")
			span(class="icon-plus")
