h1 laura 
h2 quotidien

div(id="data" data-enfant="laura")

aside.col-3
	div#laura
		div.jauge

aside.col-6
	for enfant, slug in laura.checklists.quotidien
		div(class="checklist")
			div.row #{ slug } - #{ enfant }
				input(type="checkbox" class="js-switch" data-jauge="#{ enfant }")