h1 laura 
h2 bonus

div(id="data" data-enfant="laura")

for enfant, slug in laura.checklists.bonus
	div(class="checklist")
		h2 #{ slug } - #{ enfant }
		input(type="checkbox" class="js-switch" data-jauge="#{ enfant }")

button valider