h1 emma 
h2 quotidien

div(id="data" data-enfant="emma")

aside.col-3
	div#emma
		div.jauge

aside.col-6
	for enfant, slug in emma.checklists.quotidien
		div(class="checklist")
			div.row #{ slug } - #{ enfant }
				input(type="checkbox" class="js-switch" data-jauge="#{ enfant }")